<div class="py-2 px-1">
    <h5 class="color-text d-flex"><div class ="mr-auto">Edit User {{oldUser?.username}}</div><button (click)="close()" class ="btn btn-link p-0 ml-auto"><i class="fa fas fa-times color-text-light"></i></button></h5>
    <hr>
    <form [formGroup]="editUserForm" (ngSubmit)="editUser()">
        <div class="form-group">
            <label>Username</label>
            <input type="text" class="form-control" formControlName="username" id="username" name="username" required>
            <div *ngIf="errors && errors.username" class="form-alert">{{errors.username}}</div>
        </div>
        <div class="row">
            <div class="col">
                <div class="form-group">
                    <label>First Name</label>
                    <input type="text" class="form-control" formControlName="firstName" id="firstName" name="firstName"
                        placeholder="John" required>
                    <div *ngIf="errors && errors.firstName" class="form-alert">{{errors.firstName}}</div>
                </div>
            </div>
            <div class="col">
                <div class="form-group">
                    <label>Last Name</label>
                    <input type="text" class="form-control" id="lastName" formControlName="lastName" name="lastName"
                        placeholder="Smith" required>
                        <div *ngIf="errors && errors.lastName" class="form-alert">{{errors.lastName}}</div>
                </div>
            </div>
        </div>
        <button type="submit" class="btn btn-block btn-primary">Submit</button>
    </form>
</div>