<div class="py-2 px-1">
    <h5 class="color-text">Edit Phone</h5>
    <hr>
    <form class="form" [formGroup]="newPhoneForm" (ngSubmit)="editPhone()">
      <div class="form-group">
        <label for="inputEmail4">Phone Number</label>
        <input placeholder="(555) 555-5555" type="text" class="form-control mb-2" type="tel" mask='(000) 000-0000'
          formControlName="phoneNumber" value = "{{oldPhone.phoneNumber | mask: '(000) 000-0000'}}"required>
      </div>
      <div class="form-group" *ngIf="!oldPhone.primary">
        <div class="form-check mb-2 ">
          <div class="d-flex align-middle">
            <input class="form-check-input" formControlName="primary" type="checkbox" value="">
            <label class="form-check-label">
              Make Primary
            </label>
          </div>
          <small id="passwordHelpBlock" class="form-text text-muted">
            Making this phone primary will overwrite your current primary phone.
          </small>
        </div>
      </div>
      <button class="btn btn-primary" [disabled]="!newPhoneForm.valid">Submit</button>
    </form>
  </div>