<h4 class="text-center">Verify Phone Number</h4>
<p class="text-center">Enter the 4-digit code that was texted to you:</p>
<form class="form-inline" [formGroup]="verificationForm" (ngSubmit)="submitVerificationCode()">
  <div class="input-group">
    <input name="verificationCode" formControlName="verificationCode" class="form-control text-center mx-auto" type="num" maxlength="4" mask='0000'>
    <span class="input-group-btn">
      <button class="btn btn-primary" style="border-top-left-radius: 0; border-bottom-left-radius: 0;">Submit
        Code</button>
    </span>
  </div>
</form>